/* Common */
body{
    font-family: 'Montserrat', sans-serif;
}
span,
h3,
h4{
    font-size: 13px;
}
.rounded{
    border-radius: 50%;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.justify-between{
    justify-content: space-between;
}
.small{
    display: none;
}