/* Common */
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
span,
h3,
h4,
li{
    font-size: 13px;
}
.rounded{
    border-radius: 50%;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.grow{
    flex-grow: 1;
}
.wrap{
    flex-wrap: wrap;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.align-items-center{
    align-items: center;
}
.small{
    display: none;
}
button{
    all: unset;
    color: var(--text-main);
    border: 1px solid var(--text-main);
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: .75rem;
    margin: 20px;
    cursor: pointer;
    text-transform: uppercase;
}
button:hover{
    font-size: 1rem;
    margin: 16px;
    padding: 12px 42px;
}