/* Nav */
nav{
    width: 50px;
    height: calc(100vh - 90px);
    background-color: var(--bg-nav);
    overflow: hidden;
    flex-shrink: 0;
}
nav .box{
    text-align: center;
}
nav .box.user{
    margin-top: auto;
}
nav .box.grow{
    overflow: hidden;
}
nav .box img{
    margin: 6px 0;
    width: 20px;
    vertical-align: middle;
}
nav .box img.logo{
    width: 28px;
    margin-top: 5px;
}
nav .small-box img.download{
    width: 12px;
}
nav .small-box img.rounded{
    width: 25px;
    height: 25px;
    background-color: var(--bg-user-nav);
}
nav .small-box span,
nav .small-box h3,
nav .small-box h4,
nav .playlist li{
    color: var(--text-nav);
    vertical-align: middle;
}
nav .box.playlist{
    min-width: 150px;
    overflow-y: auto;
    padding-top: 0;
}
nav .playlist div{
    overflow-y: auto;
    min-height: 150px;
}
nav .playlist > h3{
    color: var(--text-nav-hover);
    margin: 10px 0;
}
nav .playlist i{
    background-color: var(--bg-icon-playlist-nav);
    color: var(--text-icon-playlist-nav);
    padding: 9px 10px;
}
nav .playlist span:last-of-type{
    padding-left: 10px;
}
nav .playlist li:first-of-type{
    margin-top: 8px;
}
nav .playlist li{
    padding: 9px 0;
}
nav .small-box > h4{
    color: var(--text-nav-hover);
    padding-left: 6px;
}
/* Main */
main{
    position: absolute;
    top: 0;
    right: 0;
    left: 50px;
    bottom: 90px;
    width: calc(100% - 50px);
    height: calc(100vh - 90px);
    background-color: var(--bg-body);
    padding-top: 90px;
    overflow: auto;
}
main .upgrade{
    position: fixed;
    top: 0;
    right: 0;
    left: 50px;
    height: 90px;
    width: calc(100% - 50px);
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
    z-index: 10;
    
}
main .menu ul{
    text-align: center;
    margin-top: 18px;
}
main .menu li{
    display: inline-block;
    color: var(--text-main-dark);
    margin: 0 12px 40px;
}
main .menu li.selected::after{
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--border-selected);
    margin: 4px auto 0;
}
main .box{
    margin: 30px 20px;
    color: var(--text-main-dark);
}
main .box.first{
    margin-top: 5px;
}
main .box h2{
    font-size: 23px;
    color: var(--text-main);
    margin-bottom: 30px;
}
main .flex{
    gap: 10px;
}
main .small-box{
    width: calc((100% - 10px) / 2 );
    text-align: center;
    margin-bottom: 5px;
    color: var(--text-main-dark);
}
main .small-box img{
    width: 100%;
    display: block;
}
main .small-box h3{
    color: var(--text-main);
    font-size: 17px;
    margin-top: 12px;
    margin-bottom: 3px;
}
main .box > span{
    display: block;
    margin-top: -20px;
    font-size: .72rem;
    margin-bottom: 30px;
}
footer .small-box.text{
    max-width: 80px;
}
/* Footer */
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    height: 90px;
    background-color: var(--bg-footer);
}
footer .box{
    padding: 0 10px;
    color: var(--text-dark-footer);
    width: calc(100% / 3);
}
footer .small-box img{
    width: 28px;
    vertical-align: middle;
    margin-right: 10px;
}
footer .small-box h3{
    color: var(--text-footer);
}
footer .small-box i{
    font-size: 17px;
}
footer .small-box.icons{
    margin-left: 0px;
}
footer .small-box.icons i{
    display: block;
}
footer .small-box.icons i:first-of-type{
    margin-bottom: 5px;
}
footer .player{
    padding: 0;
    text-align: center;
}
footer .player i{
    font-size: 15px;
    color: var(--text-footer);
    margin: 0 11px;
    vertical-align: middle;
}
footer .player .small-box .fa-circle-play{
   font-size: 30px;
   margin: 0px;
}
footer .bar{
    width: 100%;
    height: 4px;
    margin: auto 10px;
    background-color: var(--bar-dark-footer);
    border-radius: 2px;
}
footer .volume .bar{
    max-width: 118px;
}
footer .bar,
footer .bar .completed{
    height: 4px;
    border-radius: 2px;
}
footer .bar .completed{
    background-color: var(--bar-footer);
    width: 9.1%;
}
footer .volume i{
    margin: 0 4px;
    color: var(--text-footer);
}
footer .volume i:first-of-type,
footer .player i:first-of-type{
    margin-left: 0;
}
footer .volume i:last-of-type{
    margin-right: 6px;
}
footer .player i:last-of-type{
    margin-right: 0;
}